---
import Layout from '../layouts/Layout.astro';
---

<Layout title='This page is still being developed (or not, maybe this is just a test!?)'>
  <main class='flex flex-col items-center justify-center'>
    <div class='flex flex-col gap-4 justify-center items-center h-96'>
      <h1 class='text-5xl font-bold'>Ayyyyy there is nothing here...</h1>
      <span class='text-3xl'>I'm just testing this framework</span>
      <span class='mt-4'>If you want to go back, click <a class='text-xl font-bold underline text-indigo-600' href="/">Here</a> or in any Header navigation</span>
    </div>
  </main>
</Layout>
